.sideBarLayout{
    display: flex;
    align-items: center;
    margin-bottom: 1%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5%;
    margin-right: 10%;
}

.sideBarLayoutText{
    margin-left: 5%;
}

.sideBarLayout:hover{
    background-color: rgba(208, 252, 252, 0.849);
    border-radius: 100px;
    color: rgb(29, 161, 242);
    
}